

body{
    font-family: 'Karla', sans-serif;
    color: rgb(51, 51, 51);
    height: 100%;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center top;
    background-attachment: fixed;
}


.not-typed{
    font-weight: 600;
    font-size: 120px;
    line-height: 1.2;
}

.home-title{
    margin-top: 100px;
    margin-bottom: 600px;
    height: 160px;
}

.vvl{
    color: #007bff;
}
.logo-img {
    position: relative;
    width: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}
img {
    vertical-align: middle;
    border-style: none;
}
.typed{
    font-weight: 600;
    font-size: 80px;
    line-height: 1.2;
}

.come{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin: 5% ;
}

.labeli{
    font-size: 24px;
    line-height: 32px;
}

.inputi{
    display: block;
    width: 100%;
    color : rgb(51, 51, 51);
    font-size: 30px;
    line-height: 38px;
    padding: 0px 26px 16px;
    border-style: none;
    outline: none;
    border-radius: 3px;
    /*border-bottom: solid;*/
    background: none;

}

option {
    background-color: rgb(255, 255, 255);
}

.formi{
    margin-bottom: 200px;
    font-size: 30px;
    line-height: 38px;
    opacity: 0.2;
}

.dicidi{
    font-size: 30px;
    line-height: 38px;
}

.bani{
    padding-bottom: 200px;
}

.hidi{
    padding-bottom: 0;
    display: none;
}

.separator{
    background-color: #007bff;
    width: 100%;
    height: 0px;
    border: 2px;
    border-style: solid;
    border-color: #007bff;
    border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.checkButton{
    float: left;
    width: 20%;
    padding: 8px ;
    margin-bottom: 1px;
}

.custom-button {
    background-color: rgb(2,165,220);
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    min-height: 48px;
    color: rgb(255, 255, 255);
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 6px 18px 8px;
    border-color: transparent;
    border-radius: 4px;
    font-size: 25px ;
}
.custom-button:hover {
    background-color: rgb(46, 189, 236);

}
.checkInput{
    padding: 10px;
    float: left;
    width: 80%;
}

.checkDiv{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

a{
    color: #fff !important;
}

.submitButton{

}

.switchFilter {
    width: 0;
    display: inline-block;
    background-color: #007bff;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

.labelYN {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #3D4349;
    width: 85px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-right: 10px;
    margin-bottom: 0 !important;
}

.switch {
    position: absolute;
    display: inline-block;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    margin: 2em 0;
}
.switch input[type="radio"] {
    visibility: hidden;
    position: absolute;
    height: 100%;
}


.switch input[type="radio"]#yes:checked ~ label[for="yes"] {
    color: white;
    border: 1px solid #007bff;
}
.switch input[type="radio"]#yes:checked ~ .switchFilter {
    left: 0;
    opacity: 1;
    width: 87px;
}
.switch input[type="radio"]#no:checked ~ label[for="no"] {
    color: white;
    border: 1px solid #007bff;
}
.switch input[type="radio"]#no:checked ~ .switchFilter {
    left: 100px;
    width: 87px;
    opacity: 1;
}

/*******************************/

.switch input[type="radio"]#create:checked ~ label[for="create"] {
    color: white;
    border: 1px solid #007bff;
}
.switch input[type="radio"]#create:checked ~ .switchFilter {
    left: 0;
    opacity: 1;
    width: 87px;
}
.switch input[type="radio"]#join:checked ~ label[for="join"] {
    color: white;
    border: 1px solid #007bff;
}
.switch input[type="radio"]#join:checked ~ .switchFilter {
    left: 100px;
    width: 87px;
    opacity: 1;
}

.custom-switch {
    display: inline-block !important;
    margin-left: 50px;
}